<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.travel_backend.mapper.CloudImagesMapper">

    <select id="getAllImages" resultType="com.example.travel_backend.data.CloudImagesDTO">
        SELECT content_id AS contentId, firstimage, firstimage2, firstimage3, firstimage4, firstimage5 FROM destination
    </select>

    <update id="updateImageUrls">
        UPDATE destination
        SET firstimage = #{firstimage},
            firstimage2 = #{firstimage2},
            firstimage3 = #{firstimage3},
            firstimage4 = #{firstimage4},
            firstimage5 = #{firstimage5}
        WHERE content_id = #{contentId}
    </update>
</mapper>
