<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.travel_backend.mapper.DestinationMapper">

    <select id="selectDestinationsByLocation" resultType="com.example.travel_backend.data.TourMainDTO">
        SELECT location, title, firstimage, destination_description, content_id, content_type_id, area_code
        FROM destination
        WHERE area_code = #{areaCode}
          AND firstimage != ''
    LIMIT #{count} OFFSET #{page}
    </select>

    <select id="selectAllDestinations" resultType="com.example.travel_backend.data.TourDTO">
        SELECT * FROM destination;
    </select>

    <select id="selectDestinations" resultType="com.example.travel_backend.data.TourDTO">
        SELECT destination_id, location, cat1, cat2, cat3, firstimage, firstimage2, firstimage3, firstimage4,
               firstimage5, location_number, content_id, content_type_id, title, map_x, map_y, homepage, parking,
               use_time, tel, destination_description, holiday, area_code
        FROM destination
        WHERE content_id = #{contentId}
    </select>
</mapper>