<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.travel_backend.mapper.FestivalMapper">

    <select id="selectFestival" resultType="com.example.travel_backend.data.FestivalDTO">
        SELECT * FROM festival
    </select>

    <select id="selectFestivalByLocation" resultType="com.example.travel_backend.data.FestivalMainDTO">
        SELECT location, title, firstimage, id, area_code, description
        FROM festival
        <where>
            <if test="areaCode != null">
                area_code = #{areaCode} AND
            </if>
            firstimage != ''
        </where>
        LIMIT #{count} OFFSET #{offset}
    </select>

    <select id="selectFestivalById" resultType="com.example.travel_backend.data.FestivalDTO">
        SELECT id, title, tel, area_code, location, map_x, map_y, firstimage, homepage
        ,introduction, start_date, end_date, use_time, charge, description
        FROM festival
        WHERE id = #{id}
    </select>
</mapper>